@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(231, 230, 230);
    padding-top: 20px;
    padding-bottom: 20px;
}
li{
    list-style: none;
}
#tituloPrincipal{
    font-family: 'Charmonman', cursive;
    font-size: 20px;
    color:rgb(51, 47, 47);
}
.a1{
    text-decoration: none;
    color: gray;
}
nav  li a:hover{
    color: rgb(226, 159, 193);
    transition: all .3s;
}
body {
    font-family: Helvetica,sans-serif;
    font-size: 20px;
    color: gray;
}
#divContenedor{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 115%;
    animation: movimiento 35s infinite linear alternate;
    width: 100%;
    position: relative;
    height: 100%;
    
}
@keyframes movimiento {
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}
#div1{
    width: 100%;
    position: relative;
    height: 580px;
}
#img1{
    width: 100%;
    height: 580px;
}
#divEncima{
    background-color: rgba(168, 163, 163,0.5);
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
}
h2{
    text-align: center;
    color:whitesmoke;
}
#centrado{
    position: absolute;
    text-align: justify;
    color: whitesmoke;
    left: 30%;
    right: 30%;
}
#divCentro1{
    border-radius: 8px;
    background: rgb(250, 162, 244);
background: linear-gradient(0deg, rgba(242,188,238,1) 1%, rgba(245,153,238,1) 2%, rgb(212, 210, 210) 100%);
    position: absolute;
    top: -65%;
    left: 17%;
    width: 18%;
    height: 90%;
    box-shadow: 0 0 5px 0  rgba(0,0,0,.5) ;/*sombrita*/
    transition: all 380ms;
    
}
#img2{
    width: 85%;
    height: 90%;
    padding-top: 33px;
    padding-left: 32px;
}
#divCentro2{
    border-radius: 8px;
    background: rgb(250, 162, 244);
    background: linear-gradient(0deg, rgba(242,188,238,1) 1%, rgba(245,153,238,1) 2%, rgb(212, 210, 210) 100%);
    position: absolute;
    top: -57%;
    left: 40.5%;
    width: 18%;
    height: 82%;
    box-shadow: 0 0 5px 0  rgba(0,0,0,.5) ;/*sombrita*/
    transition: all 380ms;
}
#img3{
    width:85%;
    height: 90%;
    padding-top: 20px;
    padding-left: 32px;
}
#divCentro3{
    border-radius: 8px;
    background: rgb(250, 162, 244);
    background: linear-gradient(0deg, rgba(242,188,238,1) 1%, rgba(245,153,238,1) 2%, rgb(212, 210, 210) 100%);
    position: absolute;
    top: -25%;
    left: 64.5%;
    width: 18%;
    height: 50%; 
    box-shadow: 0 0 5px 0  rgba(0,0,0,.5) ;/*sombrita*/
    transition: all 380ms;  
}
#img4{
    width:85%;
    height: 90%;
    padding-top: 15px;
    padding-left: 32px;
}
.divContenedor2{
    
    position:relative;
    height:370px;
}
    .boton{
        border-radius: 6px;
        border-color: transparent;
        background-color: rgb(252, 140, 242);
        height:80px;
        width: 18%;
        text-align: center;
        position: relative;
        box-shadow: 0 0 9px 0  rgba(245, 12, 133, 0.5) ;/*sombrita*/
        transition: all 380ms;
        top: 40%;
        cursor: pointer;
    }
    .boton:hover{
        background-color: rgb(243, 40, 165);
        transition: all;
    }
    #boton1{
        position: relative;
        left: 17%;
    }
    #boton2{
        position: relative;
        left: 22%;
    }
    #boton3{
        position: relative;
        left: 28%;
    }
    .a2{
        text-decoration: none;
    }
    .etiqueta{
        padding-top: 30px;
        font-family: Helvetica,Arial;
        font-size: 20px;
        color: white;
        text-align: center;
    }
    
    
footer {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 15px;
    color: rgb(231, 46, 139);
    background: rgb(252, 179, 247);
background: linear-gradient(0deg, rgb(245, 198, 242) 1%, rgb(248, 179, 242) 2%, rgb(216, 213, 213) 100%);
}
#footerder{
    display: inline;
}
#footerizq{
    display: inline;
    position: relative;
    left: 85%;
}